@font-face {
    font-family: MyFont;
    src: url("/font/Karla/Karla-Regular.ttf"), url("/font/Crimson_Text/CrimsonText-Regular.ttf");
}

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MyFont, sans-serif;
}

body {
    color: lightgrey;
    max-width: 600px;
    margin: auto;
    background-image: url("../img/bg.jpg");
    background-color: #242424;
    background-size: 100%;
    background-repeat: no-repeat;
}

header {
    display: grid;
    justify-items: center;
}

header img {
    width: 100%;
}

#dot1 {
    animation-duration: 2s;
    animation-name: fadingInAndOut;
    animation-iteration-count: infinite;
}

#dot2 {
    animation-duration: 2s;
    animation-delay: 200ms;
    animation-name: fadingInAndOut;
    animation-iteration-count: infinite;
}

#dot3 {
    animation-duration: 2s;
    animation-delay: 400ms;
    animation-name: fadingInAndOut;
    animation-iteration-count: infinite;
}

@keyframes fadingInAndOut {
    0% {
        color: rgba(255, 255, 255, 0.0);
    }
    50% {
        color: rgba(255, 255, 255, 1.0);
    }
    100% {
        color: rgba(255, 255, 255, 0.0);
    }
}

h1 {
    margin-top: 1rem;
}

p {
    margin-bottom: 0.3rem;
}

.read {
    border: 2px solid lightgrey;
}

.text-title {
    text-align: center;
    font-size: large;
    font-style: italic;
    margin-bottom: 0.8rem;
}

.text-details {
    text-align: center;
    font-size: small;
    margin-bottom: 1rem;
}

.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text-choice {
    display: grid;
    justify-items: center;
}

.typing-area {
    display: grid;
    justify-items: center;
}

.clear-float {
    clear: both;
}

.stats {
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-items: left;
}

.canvas {
    border: 1px solid white;
}

.stats-table {
    margin-top: 15px;
    width: 80%;
    text-align: right;
}

footer {
    text-align: center;
    font-size: small;
}

.grey-bg {
    background-color: rgba(0, 0, 0, 0.8);
}

.padding {
    padding: 15px;
}

.textarea {
    background-color: #333;
    color: lightgrey;
    text-align: center;
    padding: 10px;
    width: 60%;
    resize: none;
}

a {
    color: lightgray;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* The texts */

.marker {
    background-color: skyblue;
    color: black;
}

.marker-reset {
    background-color: none;
}

.error {
    color: red;
}

.correct {
    color: #777;
}

#gameControl {
    display: grid;
    justify-items: center;
}

.btn {
    background: transparent;
    border: none;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.btn-start {
    background-image: url("/img/start.png");
}

.btn-stop {
    background-image: url("/img/stop.png");
}