@font-face {
    font-family: MyFont;
    src: url("/font/Karla/Karla-Regular.ttf"), url("/font/Crimson_Text/CrimsonText-Regular.ttf");
}

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MyFont, sans-serif;
}

body {
    color: lightgrey;
    max-width: 600px;
    margin: auto;
    background-image: url("../img/bg.jpg");
    background-color: #242424;
    background-size: 100%;
    background-repeat: no-repeat;
}

header {
    display: grid;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.header__img {
    width: 100%;
}

.header__h1 {
    padding: 0px 20px 15px;
}

.header__dot1 {
    animation-duration: 2s;
    animation-name: fadingInAndOut;
    animation-iteration-count: infinite;
}

.header__dot2 {
    animation-duration: 2s;
    animation-delay: 200ms;
    animation-name: fadingInAndOut;
    animation-iteration-count: infinite;
}

.header__dot3 {
    animation-duration: 2s;
    animation-delay: 400ms;
    animation-name: fadingInAndOut;
    animation-iteration-count: infinite;
}

@keyframes fadingInAndOut {
    0% {
        color: rgba(255, 255, 255, 0.0);
    }
    50% {
        color: rgba(255, 255, 255, 1.0);
    }
    100% {
        color: rgba(255, 255, 255, 0.0);
    }
}

.main {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
}

.choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
}

.text-choice {
    display: grid;
    justify-items: center;
}

.read {
    border: 2px solid lightgrey;
    padding: 15px;
    margin-bottom: 15px;
}

.read__title {
    text-align: center;
    font-size: large;
    font-style: italic;
    margin-bottom: 0.8rem;
}

.read__details {
    text-align: center;
    font-size: small;
    margin-bottom: 0.5rem;
}

.read__content {
    line-height: 1.4;
}

.marker {
    background-color: skyblue;
    color: black;
}

.marker-reset {
    background-color: transparent;
}

.error {
    color: red;
}

.correct {
    color: #777;
}

.type {
    display: grid;
    justify-items: center;
    margin-bottom: 15px;
}

.type__input {
    background-color: #333;
    color: lightgrey;
    text-align: center;
    padding: 10px;
    width: 60%;
    resize: none;
}

.game-control {
    display: grid;
    justify-items: center;
    margin-bottom: 15px;
}

.game-control__btn {
    background: transparent;
    border: none;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.game-control__btn--start {
    background-image: url("/img/start.png");
}

.game-control__btn--stop {
    background-image: url("/img/stop.png");
}

.stats {
    display: grid;
    grid-template-columns: 33% 67%;
    justify-items: left;
}

.stats__canvas {
    border: 2px solid lightgrey;
}

.stats__table {
    margin-top: 15px;
    width: 80%;
    text-align: right;
}

.footer {
    border-top: 2px solid lightgrey;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: small;
    padding: 15px;
}

.footer a {
    color: lightgray;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}